.font-family-header {
  font-family: Montserrat,sans-serif;
}

.font-weight-lighter {
  font-weight: lighter;
}

.font-family-body {
  font-family: montserrat,open-sans,sans-serif;
}

.font-size-md {
  font-size: 13px;
}